body {
    background: #eee;

    .a {
        color: blue;
    }
}

body {
    background: #000;
}

.link {
    stroke: green;
    stroke-linejoin: bevel;
}

.link_error {
    stroke: orange;
    stroke-linejoin: bevel;
}

.nodetext {
    font: 12px sans-serif;
    -webkit-user-select: none;
    -moze-user-select: none;
    stroke-linejoin: bevel;
}

#container {
    width: 800px;
    height: 600px;
    border: 3px solid #555;
    border-radius: 9px;
    position: relative;
}