body {
    background: #eee;

    .a {
        color: blue;
    }
}

#svg-wrapper {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: #fff;
}

#svg {}

circle {
    stroke-width: 1.5px;
}

line {
    stroke: #999;
}

.link {
    stroke: green;
    stroke-linejoin: bevel;
}

.link_error {
    stroke: orange;
    stroke-linejoin: bevel;
}

.nodetext {
    font: 12px sans-serif;
    -webkit-user-select: none;
    -moze-user-select: none;
    stroke-linejoin: bevel;
    color: #fff;
}